In [1]:
import pandas as pd

In [6]:
import sys

In [7]:
import psycopg2
sys.path.append('../')
from envir import config
import imp
imp.reload(config)

In [8]:
con = psycopg2.connect(config.con)

In [33]:
master_df = pd.read_sql('''SELECT *
FROM clean.violations_matched_yelp_id2''', con, parse_dates=True)

In [34]:
master_df[master_df['business_id'].isna()]

Empty DataFrame
Columns: [index, business_id, city, inspection_date, name, establishment_type, address, latitude, longitude, inspection_result, violations_desc, minor, crucial, significant]
Index: []

In [35]:
master_df.head()

,index,business_id,city,inspection_date,name,establishment_type,address,latitude,longitude,inspection_result,violations_desc,minor,crucial,significant
0,0,ktJJMphosVXddoLGG9xR4A,Las Vegas,2005-02-23 12:15:00,McDonalds #6965,Restaurant,3175 N Rancho Dr,36.216746,-115.212421,Compliant,Plumbing and/or fixtures improperly sized Floo...,2,0,2
1,1,ktJJMphosVXddoLGG9xR4A,Las Vegas,2005-12-13 15:50:00,McDonalds #6965,Restaurant,3175 N Rancho Dr,36.216746,-115.212421,Compliant,Health cards not current on all food handlers....,3,0,2
2,2,ktJJMphosVXddoLGG9xR4A,Las Vegas,2006-06-01 09:45:00,McDonalds #6965,Restaurant,3175 N Rancho Dr,36.216746,-115.212421,Compliant,Unsuitable hand washing facilities Toilet faci...,2,0,2
3,3,ktJJMphosVXddoLGG9xR4A,Las Vegas,2006-12-22 13:45:00,McDonalds #6965,Restaurant,3175 N Rancho Dr,36.216746,-115.212421,Compliant,Toilet facilities for employees inadequate Imp...,3,0,3
4,4,ktJJMphosVXddoLGG9xR4A,Las Vegas,2007-06-28 13:00:00,McDonalds #6965,Restaurant,3175 N Rancho Dr,36.216746,-115.212421,Compliant,Unacceptable hygienic practices Toilet facilit...,2,0,2

In [36]:
master_df.shape

(122548, 14)

In [37]:
master_df['inspection_date'] = pd.to_datetime(master_df['inspection_date'])

In [38]:
master_df['inspection_date'].describe()

count                  122306
unique                  87295
top       2019-06-20 00:00:00
freq                       75
first     2005-01-03 11:15:00
last      2019-11-22 10:10:00
Name: inspection_date, dtype: object

In [49]:
review_df = pd.read_sql('SELECT * FROM clean.review_sentiment', con)

In [50]:
review_df.head()

,index,business_id,review_id,rating_stars,sentiment,date
0,0,0044Q4cVBcHBgXPmhGgtcQ,2fen-uTpQ6aaX1gS_k6fmw,4.0,0.534722,2014-04-07 23:04:06
1,1,0044Q4cVBcHBgXPmhGgtcQ,hZl88pb5hhWGdxCQwtCoSg,5.0,0.213112,2016-03-06 23:56:52
2,2,0044Q4cVBcHBgXPmhGgtcQ,dyr7CD2083GShTFPv-cxbw,4.0,0.515741,2018-02-21 17:29:04
3,3,0044Q4cVBcHBgXPmhGgtcQ,pEaa986ZI5Jyc2HrOT0sOA,5.0,0.581212,2017-03-29 02:09:18
4,4,0044Q4cVBcHBgXPmhGgtcQ,9lLGCMr0InLSmnO75ZNLig,4.0,0.195238,2014-09-21 12:37:38

In [41]:
master_df

{'business_id': 0         ktJJMphosVXddoLGG9xR4A
 1         ktJJMphosVXddoLGG9xR4A
 2         ktJJMphosVXddoLGG9xR4A
 3         ktJJMphosVXddoLGG9xR4A
 4         ktJJMphosVXddoLGG9xR4A
 5         ktJJMphosVXddoLGG9xR4A
 6         ktJJMphosVXddoLGG9xR4A
 7         ktJJMphosVXddoLGG9xR4A
 8         ktJJMphosVXddoLGG9xR4A
 9         ktJJMphosVXddoLGG9xR4A
 10        ktJJMphosVXddoLGG9xR4A
 11        ktJJMphosVXddoLGG9xR4A
 12        ktJJMphosVXddoLGG9xR4A
 13        ktJJMphosVXddoLGG9xR4A
 14        ktJJMphosVXddoLGG9xR4A
 15        ktJJMphosVXddoLGG9xR4A
 16        ktJJMphosVXddoLGG9xR4A
 17        ktJJMphosVXddoLGG9xR4A
 18        ktJJMphosVXddoLGG9xR4A
 19        ktJJMphosVXddoLGG9xR4A
 20        ktJJMphosVXddoLGG9xR4A
 21        ktJJMphosVXddoLGG9xR4A
 22        ktJJMphosVXddoLGG9xR4A
 23        ktJJMphosVXddoLGG9xR4A
 24        ncEJaX_79zZGSS1NQNzu4A
 25        ncEJaX_79zZGSS1NQNzu4A
 26        ncEJaX_79zZGSS1NQNzu4A
 27        ncEJaX_79zZGSS1NQNzu4A
 28        ncEJaX_79zZGSS1NQNzu4A
 29        ncEJaX_79zZGSS1NQNzu4A
                    ...
 122518    a_assgoJEpKu2-kyAWFc8Q
 122519    JpBx7K0z5P0wZz6Lj92HYw
 122520    ytYP2UXkRow2L3emGp469w
 122521    HxLaiPWJ0YTeqhQerHfcTw
 122522    sCo8DEQfbc8_xWzg2kmvIA
 122523    x5yBZsTnFb1ah75XRXJz9Q
 122524    uwT7CppiYkek-Z-661sndQ
 122525    uwT7CppiYkek-Z-661sndQ
 122526    5WJOM9DefIvLOIrntDIv-A
 122527    ieN6CyuGNnkOR0955vkoxg
 122528    zhoNuaWrB125_LRRVPWMSQ
 122529    8GBmys1QbunrRRnXOhlLeg
 122530    IuGzUnd3fy5F9Gz_SoNUdg
 122531    3uvnTtcsz0OxU4m5hOppCQ
 122532    1CoYbtdckKh5S8eNSoanQQ
 122533    1rKyIK79llYBZtAMnLDDUg
 122534    ATqO2OqqeZnctPD3JlkPhA
 122535    0iTpgvz5XJzFAo253nIE0g
 122536    fIBrbhvU9T2PZuch_wBK_g
 122537    gaW2yftYku0xmkc9bmCjJg
 122538    CDSNzkBDwWuDF5eRiJBrcA
 122539    yeZzIGVIMsS5wyBhPs1r4w
 122540    AkpURQl7Uu2I_KPPRXYAYg
 122541    QdcyxgwnOjT4llsLXnEoIA
 122542    6woozW5nt2zjBX-vcJ0Dog
 122543    2TP8uQkMDo7Av5ATNJtI9Q
 122544    VBuKT-rMerKVPSvLtUv3Rg
 122545    VBuKT-rMerKVPSvLtUv3Rg
 122546    5TaPg1Pakpaesn6RtKP5FQ
 122547    4qdwro6ytI80Xs4LM1zhAw
 Name: business_id, Length: 122548, dtype: object,
 'inspection_date': 0        2005-02-23 12:15:00
 1        2005-12-13 15:50:00
 2        2006-06-01 09:45:00
 3        2006-12-22 13:45:00
 4        2007-06-28 13:00:00
 5        2008-01-30 14:25:00
 6        2008-10-13 15:45:00
 7        2009-01-16 12:35:00
 8        2009-07-16 10:35:00
 9        2010-01-21 15:10:00
 10       2011-02-18 08:50:00
 11       2012-02-10 15:10:00
 12       2012-09-18 10:25:00
 13       2013-07-10 09:30:00
 14       2013-12-20 10:40:00
 15       2014-08-07 10:40:00
 16       2015-06-09 10:20:00
 17       2016-03-22 10:35:00
 18       2018-08-03 09:45:00
 19       2017-03-23 08:00:00
 20       2019-06-28 08:00:00
 21       2018-03-23 09:00:00
 22       2017-12-12 08:45:00
 23       2014-08-11 11:30:00
 24       2006-04-18 13:45:00
 25       2006-10-17 17:15:00
 26       2007-04-19 17:30:00
 27       2007-07-09 18:45:00
 28       2008-01-18 15:50:00
 29       2008-06-24 16:00:00
                  ...
 122518   2019-09-03 00:00:00
 122519   2019-09-10 00:00:00
 122520   2019-09-04 00:00:00
 122521   2019-09-04 00:00:00
 122522   2019-08-28 00:00:00
 122523   2019-09-03 00:00:00
 122524   2019-09-09 00:00:00
 122525   2019-09-13 00:00:00
 122526   2019-09-18 00:00:00
 122527   2019-09-18 00:00:00
 122528   2019-09-19 00:00:00
 122529   2019-09-20 00:00:00
 122530   2019-09-23 00:00:00
 122531   2019-09-24 00:00:00
 122532   2019-09-25 00:00:00
 122533   2019-09-27 00:00:00
 122534   2019-10-01 00:00:00
 122535   2019-10-02 00:00:00
 122536   2019-10-07 00:00:00
 122537   2019-10-10 00:00:00
 122538   2019-10-11 00:00:00
 122539   2019-10-15 00:00:00
 122540   2019-10-16 00:00:00
 122541   2019-10-16 00:00:00
 122542   2019-10-16 00:00:00
 122543   2019-10-18 00:00:00
 122544   2019-10-21 00:00:00
 122545   2019-10-22 00:00:00
 122546   2019-10-22 00:00:00
 122547   2019-10-23 00:00:00
 Name: inspection_date, Length: 122548, dtype: datetime64[ns]}

In [43]:
master_df['inspection_date'][0] + relativedelta(months=-x)]

Timestamp('2005-02-23 12:15:00')

In [46]:
from dateutil.relativedelta import relativedelta

In [48]:
master_df['inspection_date'][0] - relativedelta(months=+3)

Timestamp('2004-11-23 12:15:00')

In [51]:
review_df['business_id'].value_counts()

4JNXUYY8wbaaDmk3BPzlWw    8570
RESDUcs7fIiihp38-d6_6g    8568
K7lWdNUhCbcnEvI0NhGewg    6887
f4x1YBxkLrZg652xt2KR5g    5847
cYwJA2A6I12KNkm2rtXd5g    5575
DkYS3arLOhA8si5uUEmHOw    5206
2weQS-RnoOBhb1KsHKyoSQ    4534
5LNZ67Yw9RD6nf4_UhXOjw    4522
iCQpiavjjPzJ5_3gPD5Ebg    4351
ujHiaprwCQ5ewziu0Vi9rw    4318
AV6weBrZFFBfRGCbcRGO4g    4240
KskYqH1Bi7Z_61pH6Om8pg    4131
El4FC8jcawUVgw_0EIcbaQ    4093
rcaPajgKOJC2vo_l3xa42A    4014
eoHdUeQDNgQ6WYEnP2aiRw    4006
faPVqws-x-5k2CQKDNtHxw    3662
OETh78qcgDltvHULowwhJg    3642
Wxxvi3LZbHNIDwJ-ZimtnA    3579
hihud--QRriCYZw1zZvW4g    3554
7sPNbCx7vGAaH7SbNPZ6oA    3494
g8OnV26ywJlZpezdBnOWUQ    3366
3kdSl5mo9dWC4clrQjEDGg    3350
XZbuPXdyA0ZtTu3AzqtQhg    3339
XXW_OFaYQkkGOGniujZFHg    3330
YJ8ljUhLsz6CtT_2ORNFmg    3305
HhVmDybpU7L50Kb5A0jXTg    3284
RwMLuOkImBIqqYj4SSKSPg    3283
P7pxQFqr7yBKMMI2J51udw    3225
eAc9Vd6loOgRQolMXQt6FA    3184
yfxDa8RFOvJPQh0rNtakHA    3106
                          ...
4xETVbh239uFddQ0ZBI0PA       3
rNnOaUohDKmk2ck9CSzEAQ       3
2ZsPKEQwN1XfLnONZlHHZA       3
U7JrKn4fYW2RpJa7Nl-X_g       3
_YI_reD2pzNiXQRT7pA7vw       3
j9qC2kxTFcgApOjQ0kvuVQ       3
ST-IVOkIRq-DAyTD0e9DKw       3
SYIVQISajxm2J9lAnMp1RA       3
9xQiKTy6Jj6GQVsWK1ttjw       3
osPJV1YBpewJAylEQ2xd8g       3
gMvyfTNJFAA5av2EebXEyQ       3
Exsi3PIwpfvuoyF8BfGYIQ       3
q-DeyxfDo3AFjmghv5Gm1g       3
PFNssPaJXxq3eWMHmzZl9Q       3
k38o9J7qPnawnSgmYOtyzw       3
i-30EkM_YcDLDWh97xRtRg       3
ya6fmzM0BBbZZQ9NfmvEQw       3
gi3vtIOo5-soCmMVHhfJDw       3
Cz9jo32p-CnjOI3rYUcu1A       3
nDvSHngXRRju6ib-cHoCkg       3
FHcYehsC09G-0HPo2-yj-Q       3
KkSLvNRkf1LfK4Dta2sctQ       3
JDNmbb8tBIjp7UCgZppMvg       3
ltELYeBXsbkQPlH16e-mOg       3
GPSoao1vuvs-wbiq9tJE8g       3
JW81Tu0G2r8HqwXOTXUHaQ       3
LJN4A-Wr95ee-Ihurzs36Q       3
vnCU8LWS1xMfm-94Ojwzmw       3
gbwl2OmpHtDBUNXdkd-Qig       3
TnPNs12weH1gxBHOThVqfw       3
Name: business_id, Length: 22614, dtype: int64

In [77]:
months = 6

In [53]:
master_df['relative_date_6_months'] = master_df['inspection_date'].apply(lambda x: x + relativedelta(months=-months))

In [56]:
master_df[['relative_date_6_months', 'inspection_date']].head()

  relative_date_6_months     inspection_date
0    2004-08-23 12:15:00 2005-02-23 12:15:00
1    2005-06-13 15:50:00 2005-12-13 15:50:00
2    2005-12-01 09:45:00 2006-06-01 09:45:00
3    2006-06-22 13:45:00 2006-12-22 13:45:00
4    2006-12-28 13:00:00 2007-06-28 13:00:00

In [79]:
review_df['business_id']

0          0044Q4cVBcHBgXPmhGgtcQ
1          0044Q4cVBcHBgXPmhGgtcQ
2          0044Q4cVBcHBgXPmhGgtcQ
3          0044Q4cVBcHBgXPmhGgtcQ
4          0044Q4cVBcHBgXPmhGgtcQ
5          0044Q4cVBcHBgXPmhGgtcQ
6          0044Q4cVBcHBgXPmhGgtcQ
7          0044Q4cVBcHBgXPmhGgtcQ
8          0044Q4cVBcHBgXPmhGgtcQ
9          0044Q4cVBcHBgXPmhGgtcQ
10         0044Q4cVBcHBgXPmhGgtcQ
11         0044Q4cVBcHBgXPmhGgtcQ
12         0044Q4cVBcHBgXPmhGgtcQ
13         0044Q4cVBcHBgXPmhGgtcQ
14         0044Q4cVBcHBgXPmhGgtcQ
15         0044Q4cVBcHBgXPmhGgtcQ
16         0044Q4cVBcHBgXPmhGgtcQ
17         0044Q4cVBcHBgXPmhGgtcQ
18         0044Q4cVBcHBgXPmhGgtcQ
19         0044Q4cVBcHBgXPmhGgtcQ
20         0044Q4cVBcHBgXPmhGgtcQ
21         0044Q4cVBcHBgXPmhGgtcQ
22         0044Q4cVBcHBgXPmhGgtcQ
23         0044Q4cVBcHBgXPmhGgtcQ
24         0044Q4cVBcHBgXPmhGgtcQ
25         0044Q4cVBcHBgXPmhGgtcQ
26         0044Q4cVBcHBgXPmhGgtcQ
27         0044Q4cVBcHBgXPmhGgtcQ
28         0044Q4cVBcHBgXPmhGgtcQ
29         0044Q4cVBcHBgXPmhGgtcQ
                    ...
1965888    zzzaIBwimxVej4tY6qFOUQ
1965889    zzzaIBwimxVej4tY6qFOUQ
1965890    zzzaIBwimxVej4tY6qFOUQ
1965891    zzzaIBwimxVej4tY6qFOUQ
1965892    zzzaIBwimxVej4tY6qFOUQ
1965893    zzzaIBwimxVej4tY6qFOUQ
1965894    zzzaIBwimxVej4tY6qFOUQ
1965895    zzzaIBwimxVej4tY6qFOUQ
1965896    zzzaIBwimxVej4tY6qFOUQ
1965897    zzzaIBwimxVej4tY6qFOUQ
1965898    zzzaIBwimxVej4tY6qFOUQ
1965899    zzzaIBwimxVej4tY6qFOUQ
1965900    zzzaIBwimxVej4tY6qFOUQ
1965901    zzzaIBwimxVej4tY6qFOUQ
1965902    zzzaIBwimxVej4tY6qFOUQ
1965903    zzzaIBwimxVej4tY6qFOUQ
1965904    zzzaIBwimxVej4tY6qFOUQ
1965905    zzzaIBwimxVej4tY6qFOUQ
1965906    zzzaIBwimxVej4tY6qFOUQ
1965907    zzzaIBwimxVej4tY6qFOUQ
1965908    zzzaIBwimxVej4tY6qFOUQ
1965909    zzzaIBwimxVej4tY6qFOUQ
1965910    zzzaIBwimxVej4tY6qFOUQ
1965911    zzzaIBwimxVej4tY6qFOUQ
1965912    zzzaIBwimxVej4tY6qFOUQ
1965913    zzzaIBwimxVej4tY6qFOUQ
1965914    zzzaIBwimxVej4tY6qFOUQ
1965915    zzzaIBwimxVej4tY6qFOUQ
1965916    zzzaIBwimxVej4tY6qFOUQ
1965917    zzzaIBwimxVej4tY6qFOUQ
Name: business_id, Length: 1965918, dtype: object

In [ ]:
movies[(movies.duration >= 200) & (movies.genre == 'Drama')]

In [87]:
def find_avg(business_id,inspection_date,relative_date_6_months):
    review_df[(review_df['business_id']==business_id) & 
        (review_df['date'] < inspection_date) & 
        (review_df['date'] > relative_date_6_months)][[metric]].mean()

In [ ]:
for metric in ['sentiment', 'rating_stars']:
    master_df[metric+'_'+ str(months) +'_' + 'months'] = master_df.apply(lambda x: 
                                                                         find_avg(x['business_id'],
                                                                                  x['inspection_date'],
                                                                                  x['relative_date_6_months']
                                                                                 ), axis=1)

In [84]:
master_df.apply(lambda x: x['business_id'])

KeyError: ('business_id', 'occurred at index index')

In [61]:
master_df[['business_id', 'inspection_date']].iloc[1000]

business_id        qi7PnlfceCl3otbEUWz75w
inspection_date       2016-12-07 20:00:00
Name: 1000, dtype: object

In [76]:
review_df[review_df['business_id']==master_df['business_id'][1000]][df['date']< master_df['inspection_date'][1000]]\
            [df['date']> master_df['relative_date_6_months'][1000]][['sentiment']].mean()

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

sentiment    0.197201
dtype: float64

In [63]:
master_df['business_id'][1000]

'qi7PnlfceCl3otbEUWz75w'

In [64]:
master_df['inspection_date'][1000]

Timestamp('2016-12-07 20:00:00')

In [65]:
master_df['relative_date_6_months'][1000]

Timestamp('2016-06-07 20:00:00')