### Download, and unzip yelp academic dataset for inspection

The Yelp Academic Dataset was download from https://www.yelp.com/dataset/challenge and moved into the project project folder.

In [1]:
!python --version

Python 3.6.3 :: Anaconda, Inc.

In [5]:
import os
import sys
import tarfile
import json
import psycopg2

sys.path.append('../')
from envir import config

In [6]:
if not os.path.isdir(config.shared + 'yelp_dataset/'):
    print('new directry has been created')
    os.system('mkdir yelp_dataset')
    tar = tarfile.open(config.shared + 'yelp_dataset.tar', mode = 'r')
    tar.extractall(config.shared + 'yelp_dataset/')

In [8]:
yelp = config.shared + 'yelp_dataset/'

In [19]:
data = []
with open(yelp+'business.json') as f:
    for line in f:
        data.append(json.loads(line))

In [21]:
data[0]

{'business_id': '1SWheh84yJXfytovILXOAQ',
 'name': 'Arizona Biltmore Golf Club',
 'address': '2818 E Camino Acequia Drive',
 'city': 'Phoenix',
 'state': 'AZ',
 'postal_code': '85016',
 'latitude': 33.5221425,
 'longitude': -112.0184807,
 'stars': 3.0,
 'review_count': 5,
 'is_open': 0,
 'attributes': {'GoodForKids': 'False'},
 'categories': 'Golf, Active Life',
 'hours': None}

In [31]:
test = pd.DataFrame.from_dict(data)

In [34]:
test[test['state']=='NY'].groupby('city').agg(['count'])

,business_id,name,address,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
,count,count,count,count,count,count,count,count,count,count,count,count,count
city,,,,,,,,,,,,,
Brooklyn,1,1,1,1,1,1,1,1,1,1,1,1,1
Champlain,10,10,10,10,10,10,10,10,10,10,10,10,7
Closter,1,1,1,1,1,1,1,1,1,1,1,1,1
Mooers,1,1,1,1,1,1,1,1,1,1,1,1,1
New York,1,1,1,1,1,1,1,1,1,1,1,1,1
North Las Vegas,1,1,1,1,1,1,1,1,1,1,1,1,1
Rouses Point,7,7,7,7,7,7,7,7,7,7,6,7,5

The Yelp Academic dataset did not have many New York ratings. Will have to use the API